.mouse{
    display: flex;
    flex-direction: column;
   justify-content: center;
   margin: 18em 0em; 
   background-color: #cfcfcf;
    padding: 5em 5em;
    border-radius: 15px;
    width: 20em;
    margin-left: 70vh;}