.house{
    display: flex;
    flex-direction: column;
   justify-content: center;
   margin: 18em 0em; 
   background-color: #cfcfcf;
    padding: 5em 5em;
    border-radius: 15px;
    width: 20em;
    margin-left: 70vh;

    div{display: flex;
        flex-direction: column;
        align-self: center;
        align-content: center;
       
      
    }
    h1{
        display: flex;       
        padding-bottom: 1em;
        margin-bottom: 1em;
    }

    img{height: 1em;
    width: 0.7;}
    }